{% for locale in site.locales %}
    {% assign locale_object = locale[1] %}
    <li lang="{{ locale_object.lang }}" class="language-plaintext highlighter-rouge">
        {% if locale_object.lang != page.lang %}
            <a href="{{ page.url | replace: page.lang, locale_object.lang | prepend: site.baseurl }}" class="lang" aria-current="true">{{ locale_object.name }}</a>
        {% else %}
            <a href="{{ locale_object.baseurl | prepend: site.baseurl }}/" class="lang" hreflang="{{ locale_object.lang }}">{{ locale_object.name }}</a>
        {% endif %}
    </li>
{% endfor %}