---
---

@import "{{ site.theme }}";
body {
	background-color: #0e2539;
}
.page-header {
	background-color: #20364d;
	background-image: none;
	color: #ffffff;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #ffffff;
}
.btn#page-btn {
	color: #e0e4e4;
	border-color: #e0e4e4;
	background-color: #0e2539;

	&:hover {
		color: #fc6969;
		border-color: #fc6969;
		background-color: #0e2539;
	}
}
.btn#header-btn {
	color: #fffff;
	border-color: #fffff;
	border-width: 2px;
	background-color: #20364d;

	&:hover {
		color: #fc6969;
		border-color: #fc6969;
		background-color: #20364d;
	}
}
.page-header {
	padding-top: 10px;
	padding-bottom: 5px;
}
.main-nav {
	padding-top: 30px;
}
.active {
	color: #fc6969;
}
a {
	color: #ffffff;
	border-bottom: 3px solid #e6375a;
	    border-bottom-width: 3px;
	    border-bottom-style: solid;
	    border-bottom-color: rgb(230, 55, 90);
	font-weight: 600;
    position: relative;
    transition: background-color 120ms;
}
a.lang {
	color: #22252a;
	text-decoration: none;
	border-bottom: none;

	&:hover {
		background-color: transparent;
		border-bottom: 3px solid #e6375a;
		    border-bottom-width: 3px;
		    border-bottom-style: solid;
		    border-bottom-color: rgb(230, 55, 90);
	}
}
a.nav {
	text-decoration: none;
	border-bottom: none;
}
a:hover {
	background-color: rgb(230, 55, 90);
	text-decoration: none;
}
a:active {
	color: #fc6969;
	border-bottom: 3px solid #e6375a;
	    border-bottom-width: 3px;
	    border-bottom-style: solid;
	    border-bottom-color: rgb(230, 55, 90);
}
.main-content {
	color: #b3cce6;
}
.main-content pre {
	background-color: #b3cce6;
}
.main-content hr {
	border: #b3cce6;
}