---
---

@import "materialize";
@import "{{ site.theme }}";
body {
    background-color: #0e2539;
}
.page-header {
    background-color: #20364d;
    background-image: none;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    color: #ffffff;
    font-weight: 600;
}
.project-tagline h1,
.project-tagline h2 {
    color: #ffffff;
}
.btn#page-btn {
    color: #e0e4e4;
    border-color: #e0e4e4;
    background-color: #0e2539;

    &:hover {
        color: #fc6969;
        border-color: #fc6969;
        background-color: #0e2539;
    }
}
.btn#header-btn {
    color: #fffff;
    border-color: #fffff;
    border-width: 2px;
    background-color: #20364d;

    &:hover {
        color: #fc6969;
        border-color: #fc6969;
        background-color: #20364d;
    }
}
.main-nav {
    padding-top: 30px;
}
.active {
    color: #fc6969;
}
a {
    color: #ffffff;
    border-bottom: 3px solid #e6375a;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 55, 90);
    font-weight: 600;
    position: relative;
    transition: background-color 120ms;
}
a.lang {
    color: #22252a;
    text-decoration: none;
    border-bottom: none;

    &:hover {
        background-color: transparent;
        border-bottom: 3px solid #e6375a;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-bottom-color: rgb(230, 55, 90);
    }
}
a.nav {
    text-decoration: none;
    border-bottom: none;
}
a:hover {
    background-color: rgb(230, 55, 90);
    text-decoration: none;
}
a:active {
    color: #fc6969;
    border-bottom: 3px solid #e6375a;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 55, 90);
}
.main-content {
    color: #b3cce6;
}
.main-content pre {
    background-color: #b3cce6;
}
.main-content hr {
    border: #b3cce6;
}
.page-header {
    position: relative;
}
/**sidenav**/
.nav-but {
    height: 35px;
    position: relative;
}
a.sidenav-trigger.top-nav {
    text-align: left;
    top: 10px;
    padding: 5px;
    left: 0;
    float: left;
    z-index: 2;
    border: none;
    border-radius: 3px;
}

.sidenav > .nav-list ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidenav > .nav-list ul a {
    height: auto;
    line-height: normal;
    padding: 8px 25px 8px 25px;
    display: block;
}
.sidenav > .nav-list ul ul a {
    padding-left: 45px;
    font-size: 13px;
}
.sidenav > .nav-list ul ul ul a {
    padding-left: 60px;
    font-size: 12px;
}
.sidenav > .nav-list b {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.14);
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
.sidenav > .nav-list b a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.sidenav > .nav-list b a {
    height: auto;
    padding: 8px 25px 8px 15px;
    line-height: normal;
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}
/*drop language*/
.sidenav-header {
    padding: 0 25px;
}
.sidenav-header > h2 {
    text-align: center;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.87);
}
.sidenav-header {
    overflow: auto;
}
.droplang {
    float: left;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    padding: 0.3rem 0.6rem;
}
.droplang:hover {
    color: #fc6969;
    border-color: #fc6969;
}
.dropdown-content {
    height: auto !important;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.dropdown-content li {
    min-height: auto;
}
.dropdown-content li a {
    font-size: 12px;
}

// .btn,
// .btn-large,
// .btn-small,
// .btn-flat {
//     height: auto;
//     line-height: normal;
// }

// element.style {
//     display: block;
//     width: 103.225px;
//     left: 172.6px;
//     top: 276.413px;
//     height: 150px;
//     transform-origin: 0px 0px;
//     opacity: 1;
//     transform: scaleX(1) scaleY(1);
// }
// #dropdown1 {
//     height: auto !important;
// }
// .main-content ul,
// .main-content ol {
//     margin-top: 0;
// }
// ul:not(.browser-default) {
//     padding-left: 0;
//     list-style-type: none;
// }
// .dropdown-content {
//     background-color: #20364d;
//     li > a {
//         color: #ffffff;
//     }
// }
