---
---

@import "{{ site.theme }}";
body {
	background-color: #22252a;
}
.highlight {
	background-color: #2a2d33;
	color: #e0e4e4;
}
.page-header {
	background-color: #22252a;
	background-image: none;
}
.main-content#content{
	color: #0e4e4;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #ffffff;
}
.btn#page-btn {
	color: #ffffff;
	border-color: #ffffff;

	&:hover {
		color: rgba(255, 255, 255, 0.8);
	    text-decoration: none;
	    background-color: #ffffff;
	}
}
.page-header {
	padding-top: 10px;
	padding-bottom: 10px;
}
.main-nav {
	padding-top: 50px;
}
.active {
	color: #fc6969;
}
a {
	color: #41c7c7;
}