<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>

        {% if site.google_analytics %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
            <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
        {% endif %}
        <meta charset="UTF-8">

        {% seo %}
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="#157878" name="theme-color">
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://static.wixstatic.com/media/877134_2808539891304c078530373769485c0d%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/877134_2808539891304c078530373769485c0d%7Emv2.png" rel="shortcut icon" type="image/png">
        <!-- Compiled and minified CSS -->
                                                                                                                                                                                                                                                                                                                                                                                <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet"> -->
                                                                                                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                                                                                                                <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    </head>

    <body>


        <header class="page-header" role="banner">
            <div class="nav-but">
                <a class="sidenav-trigger top-nav" data-target="slide-out" href="#">
                    <i class="material-icons">menu</i>
                </a>
            </div>
            <h1 class="project-name">{{ page.title | default: site.title | default: site.description }}</h1>
            <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

            <a href="{{ site.baseurl }}/{{page.lang}}/recruit/open_positions.html" class="btn" id="header-btn">{{ site.splash_btn_text }}</a>
        </header>

        <main class="main-content" id="content" role="main">


            {{ content }}


            <footer class="site-footer">
                <span class="site-footer-owner">
                    <b>AVL</b>
                </span>
                <span class="site-footer-owner">全遠端孵化新創 | All Remote Startup Incubator<a style="text-decoration: none"></a>
                </span>
                <span class="site-footer-owner">追蹤我們 Follow Us |
                    <a href="https://www.facebook.com/Avance-Venture-Lab-108024397337673" style="text-decoration: none" target="_blank">Facebook</a>
                    |
                    <a href="https://www.instagram.com/avanceventurelab" style="text-decoration: none" target="_blank">Instagram</a>
                    |
                    <a href="https://www.linkedin.com/company/14631105" style="text-decoration: none" target="_blank">LinkedIn</a>
                    |
                    <a href="https://github.com/avancevl" style="text-decoration: none" target="_blank">GitHub</a>
                </span>
                <span class="site-footer-owner">
                    <a href="mailto:hr@avancevl.com" style="text-decoration: none">聯絡我們 Contact Us</a>
                </span>
                <br>
                <span class="site-footer-owner">
                    <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
                    is maintained by
                    <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
                <span class="site-footer-credits">This page was generated by
                    <a href="https://pages.github.com">GitHub Pages</a>.</span>
            </footer>
        </main>
        <nav class="sidenav" id="slide-out">
            <div class="sidenav-header">
                {% include droplang.html %}
            </div>

            <div class="nav-list">
                {% include sidenav.html %}
            </div>

        </nav>

        {% include analytics.html %}
        <script>
          //select langauge
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.dropdown-trigger');
                var instances = M.Dropdown.init(elems);
            });
            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
            });
        </script>
    </body>
</html>
